extends layouts/main
include mixin/videoBlock

block content
  .videos
    each item in videos
      +videoBlock({
        title: item.title,
        view: item.views,
        videoFile: item.videoFile
      })
